<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
               @* <NotAuthorized>
                    <PageTitle>401</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p style="text-align: center;" role="alert">Not Authorized!</p>
                    </LayoutView>
                </NotAuthorized>*@
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>404</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p style="text-align: center;" role="alert">@Strings._404Message</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
