@inject IFilterService FilterService
@inject NavigationManager Navigation

<div class="card border-light mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <NavLink href="@("/post/" + Post.Slug)">@Post.Title</NavLink>
        </h5>
        <h6 class="card-subtitle mb-2">
            <button class="post-tag" @onclick="() => FilterService.SearchByTag(Post.MainTag)">
                <span class="oi oi-tag"></span>
                @Post.MainTag
            </button>
            <button class="post-author" @onclick="() => FilterService.SearchByAuthor(Post.Author)">
                <span class="oi oi-person ms-2"></span>
                @Post.Author
            </button>
            <button class="post-date" @onclick="() => FilterService.SearchByDate(Post.DatePublished)">
                <span class="oi oi-clock ms-2"></span>
                @Post.DatePublished.ToShortDateString()
            </button>
        </h6>
        <div class="post-info">
            <div class="post-image">
                <NavLink class="post-image-link" href="@("/post/" + Post.Slug)">
                    <img class="post-thumb" src="@Post.Cover" alt="card" @onclick="@(()=>Navigation.NavigateTo($"/post/{Post.Slug}"))">
                </NavLink>
            </div>
            <div class="post-index ms-2">
                <p>
                    @Post.Description
                </p>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public PostListItemDto Post { get; set; } = default!;

}