@inject INavigationService NavigationService

@if (Post is not null)
{
    <div class="card-sm mb-2">
        <div class="card-sm-link">
            <a @onclick="@(() => NavigationService.Navigate(Post.Slug))">
                <img class="card-sm-image" src="@Post.Cover" alt="post">
            </a>
        </div>
        <div class="card-sm-info">
            <h2>
                <a @onclick="@(() => NavigationService.Navigate(Post.Slug))">@Post.Title</a>
            </h2>
            <div class="card-sm-meta">
                <span class="oi oi-clock"></span>
                @Post.Date.ToShortDateString()
            </div>
        </div>
    </div>
}

@code {

    [Parameter, EditorRequired]
    public BasePostModel? Post { get; set; }

}